/* .container-cadastro-denuncia {
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 20px;
} */

.page_container_denuncia {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

.conteudo_denuncia {
  width: 100%;
  padding-bottom: 20px;
}

.container-form-denuncia {
  height: auto;
  width: 100%;
}

.aviso_denuncia {
  display: flex;
  align-items: center;
  background-color: #cc0000;
  height: 150px;
  width: 100%;
}

.aviso_text_denuncia {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 74px;
  text-align: center;
  width: 100%;
}

.row{
  display: flex!important;
}

.aviso_espaco_denuncia {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 800;
}

.aviso_text2_denuncia {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-1);
  font-weight: 800;
}

.montserrat-bold-pelorous-16px {
  color: var(--pelorous);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-12px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-concrete-12px {
  color: var(-concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-g);
  font-weight: 500;
  font-style: normal;
}

.montserrat-normal-cod-gray-12px {
  color: var(--cod-gray-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-cod-gray-12px {
  color: var(--cod-greay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-cod-gray-38-8px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-pelorous-32Px {
  color: var(--pelorous);
  font-family: var(-font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-pelorous-38-8px {
  color: var(-pelorous);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-conc rete-12px {
  color: var(--concrete);
  font-family: var(-font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}

.montserreat-bold-white-38-8px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-32px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-48px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-normal-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold-white-48px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-12px {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .form {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
} */


.flex-row-item {
  border: 2px solid;
  border-color: var(--pelorous);
  background-color: var(--concrete);
  border-radius: 8px;
  padding: 8px 16px;
  font-family: var(--font-family-montserrat);
}

.aviso {
  align-items: center;
  background-color: #cc0000;
  display: flex;
  height: 150px;
  width: 100%;
  /* margin-top: -24px; */
  margin-bottom: 25px;
  padding: 0;
}

.aviso_text {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 74px;
  text-align: center;
  width: 100%;
}

.aviso_espaco {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 800;
}

.aviso_text2 {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-1);
  font-weight: 800;
}

.botao_denuncia {
  align-items: center;
  background-color: var(--pelorous);
  border-style: solid;
  border-radius: 8px;
  border-color: var(--pelorous);
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
  margin-right: 3px;
}

.botao_denuncia:hover {
  color: var(--pelorous);
  background-color: var(--concrete);
}

.flex-row-item {
  border: 2px solid;
  border-color: var(--pelorous);
  background-color: var(--concrete);
  border-radius: 8px;
  padding: 8px 16px;
}

.flex-row-item::placeholder {
  font-family: var(--font-family-montserrat);
}

.form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  width: 60%;
}
