.main-home{
    align-items: center;
    background-color: #3ab1b9;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 92vh;
    justify-content: center;
    width: 100%;
}

.main-home img{
    height: 48px;
    width: 48px;
}

.main-home h1{
    color: #fff;
    font-size: 48px;
}